* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(224, 221, 216);
}


.img-thumbnail{
  width: 70px !important;
  height: 70px !important;
}

tr
{
  text-align: center;
}
.userImage{
width: 100px;
height: auto;
}